.tracker-create-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30em;
  margin: auto;
  margin-bottom: 1.5rem;
}

.tracker-create-container button {
  padding: 2rem;
  background-color: var(--accent);
  color: var(--bg);
  border: none;
  border-radius: 0.28rem;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
  margin-top: 1rem;
  transition: opacity 0.2s;
}
.tracker-create-container button:hover {
  opacity: 0.8;
}
.search-bar {
  margin: auto;
  width: 210px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, var(--accent), var(--accent-border));
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.search-bar input {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}

.tracker-list-items {
  display: flex;
  flex-direction: column;
  gap: 0.67rem;
  margin: 0.67rem auto;
  width: 50%;
  align-items: center;
}

.tracker-item-card {
  display: flex;
  flex-direction: column;

  background-color: black;
  padding: 1rem;
  width: 20rem;
}

.tracker-item-card-name h3 {
  color: var(--white);
}

.tracker-list-button h3 {
  color: black;
}

.tracker-list-button {
  display: flex;
  flex-direction: row;

  margin: auto;
  gap: 1rem;
  margin-top: 1rem;
}

.tracker-list-button button {
  cursor: pointer;
  padding: 1rem;
  background-color: white;
}

.delete-tracker-item-card {
  display: flex;
  flex-direction: row-reverse;
}

.delete-tracker-item-card button {
  padding: 0.6rem;
  background-color: red;
  cursor: pointer;
  margin-top: -1.67rem;
}

.delete-tracker-item-card button:hover {
  opacity: 0.8;
}
