.tracker-create-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30em;
  margin: auto;
  margin-bottom: 1.5rem;
}

.tracker-create-container button {
  padding: 2rem;
  background-color: var(--accent);
  color: var(--bg);
  border: none;
  border-radius: 0.28rem;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
  margin-top: 1rem;
  transition: opacity 0.2s;
}
.tracker-create-container button:hover {
  opacity: 0.8;
}

.tracker-list-items {
  display: flex;
  flex-direction: column;
  gap: 0.67rem;
  margin: 0.67rem auto;
  width: 50%;
  align-items: center;
}

.tracker-item-card {
  display: flex;
  flex-direction: column;

  background-color: black;
  padding: 1rem;
  width: 20rem;
}

.tracker-item-card-name h3 {
  color: var(--white);
}

.tracker-list-button h3 {
  color: black;
}

.tracker-list-button {
  display: flex;
  flex-direction: row;

  margin: auto;
  gap: 1rem;
  margin-top: 1rem;
}

.tracker-list-button button {
  cursor: pointer;
  padding: 1rem;
  background-color: white;
}

.delete-tracker-item-card {
  display: flex;
  flex-direction: row-reverse;
}

.delete-tracker-item-card button {
  padding: 0.6rem;
  background-color: red;
  cursor: pointer;
  margin-top: -1.67rem;
}

.delete-tracker-item-card button:hover {
  opacity: 0.8;
}
