.tracker-create-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30em;
  margin: auto;
  margin-bottom: 1.5rem;
}

.tracker-create-container button {
  padding: 2rem;
  background-color: var(--accent);
  color: var(--bg);
  border: none;
  border-radius: 0.28rem;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
  margin-top: 1rem;
  transition: opacity 0.2s;
}
.tracker-create-container button:hover {
  opacity: 0.8;
}

.tracker-list-items {
  display: flex;
  flex-direction: column;
  gap: 0.67rem;
  margin: 0.67rem auto;
  width: 50%;
  align-items: center;
}

.tracker-item-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  border: 0.15rem solid var(--accent);
  padding: 1.5rem 1rem 1rem 1rem;
  width: 20rem;
  border-radius: 0.28rem;
}

.tracker-item-card-name h3 {
  color: var(--accent);
  margin-top: 0.5rem;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-all;
}

.tracker-list-button h3 {
  color: var(--bg);
}

.tracker-list-button {
  display: flex;
  flex-direction: row;

  margin: auto;
  gap: 1rem;
  margin-top: 1rem;
}

.tracker-list-button button {
  cursor: pointer;
  padding: 1rem;
  background-color: var(--accent);
}

.delete-tracker-item-card {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.delete-tracker-item-card button {
  display: flex;
  padding: 0.4rem;
  background-color: #b13333;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
  border-radius: 0.2rem;
}

.delete-tracker-item-card button:hover {
  opacity: 0.8;
}

.description-tracker-item-card {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.description-tracker-item-card button {
  padding: 0.15rem;
  cursor: pointer;
  display: flex;
  border-radius: 0.2rem;
  border: none;
  transition: opacity 0.2s ease;
  background: var(--accent);
}


.description-tracker-item-card button:hover {
  opacity: 0.8;
}

#alert-dialog-title {
  color: #b13333;
  font-weight: 600;
  font-size: 2rem;
}

#alert-dialog-description {
  font-size: 1.2rem;
  color: var(--black);
}

.dialog-action-button {
  padding: 0.67rem;
  background-color: var(--accent);
  color: var(--bg);
  border: none;
  border-radius: 0.28rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.67rem;
  transition: opacity 0.2s;
}

.dialog-action-button:hover {
  opacity: 0.8;
}

#cancel-btn:hover {
  background-color: var(--neutral-gray);
}

#confirm-btn:hover {
  background-color: #b13333;
}
