.following-item-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem 0;
  border-bottom: 0.05rem solid var(--accent);
  gap: 2rem;
}
.following-item-card-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.following-item-card-name h3 {
  margin: 0;
}

.unfollow-item-card {
  display: flex;
  align-items: center;
}
