.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

.popup-inner {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  box-sizing: border-box;
  font-size: 0.8rem;

}

.popup-inner .close-btn {
  position: absolute;
  top: 0.45rem;
  right: 1.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  transition: all 200ms;
  
}

.popup-inner button{
  padding: 0.2rem;
  background-color: var(--accent);
  color: var(--bg);
  border: none;
  border-radius: 0.28rem;
  font-size: 0.67rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.67rem;
  transition: opacity 0.2s;
}

.popup-inner button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .popup-inner {
    width: 70%;
  }
}
