.change-password-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  border: 0.1rem solid var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  background-color: var(--bg);
}

.change-password-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.change-password-group label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text);
}

.change-password-group input {
  padding: 0.67rem;
  font-size: 0.85em;
  border: 0.1rem solid var(--border);
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.2s;
  background-color: var(--code-bg);
  color: var(--text);
  margin-top: -0.67rem;
  margin-bottom: 0.67rem;
}

.change-password-group input:focus {
  border-color: var(--accent);
}

.change-password-form button {
  padding: 0.67rem;
  background-color: var(--accent);
  color: var(--bg);
  border: none;
  border-radius: 0.28rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.67rem;
  transition: opacity 0.2s;
}

.change-password-form button:hover {
  opacity: 0.8;
}
